//info Custom properties (CSS VARIABLES) 

:root {
    --color-back-pearl-0: #FFF;
    --color-back-pearl-50: #EAEBEE ;
    --color-back-pearl-100: #C9D6DE;
    --color-back-pearl-400: #7799AC ;
    --color-back-pearl-700: #3C5562 ;
    --color-back-pearl-800: #2C3D47 ;
    --color-back-pearl-900: #1B262C ;

    --color-aquarius-50: #E2F5F7;
    --color-aquarius-100: #C5EAF0;
    --color-aquarius-600: #35B6C8;
    --color-aquarius-700: #288996;
    --color-aquarius-900: #0D2E32;

    --color-morrocan-blue-100: #B5DBF5;

    --container-max-width: 1180px;
    --container-padding: 0 24px;
}

//info Sass variables
$breakpoint-large: 992px;